.app-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 30px;
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0px 4px 24px rgba(4, 20, 58, 0.04);
}

.col-left {
  width: 100%;
  margin: 0;
}

.app-container form {
  /* background-color: aqua; */
  max-width: 100%;
  margin: 0;
}

label {
  font-size: var(--text);
  width: 100%;
  margin: 0;
  display: block;
}

.app-container .form-line {
  padding-bottom: 15px;
  max-width: 100%;
  margin: 0;
  outline: 1px solid red;
}

.app-container .form-line label {
  margin: 0;
  margin-bottom: 8px;
}

.input-fields-container {
  width: 100%;
  margin: 0;
}

.app-container .form-line input,
.app-container .form-line textarea,
.app-container .form-line select {
  margin: 0px;
  padding: 0px;
  font-size: var(--text);
}
.form-line input {
  border-radius: 0.25rem;
  line-height: 2.5rem;
  width: 100%;
  background-color: aqua;
}

textarea {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  border: none;
  overflow-y: scroll;
  resize: none;
}

#domain-input-line {
  display: flex;
  justify-content: flex-start;
}

#domain-input {
  width: min-content;
  border-radius: 0;
}

#at-span {
  background-color: var(--light-gray);
  border: 1px solid var(--gray);
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.25rem;
  font-size: var(--text);
  display: flex;
  align-items: center;
}

#tld {
  border-radius: 0 0.25rem 0.25rem 0;
}

@media (max-width: 37.5rem) {
  .app-container {
    grid-template-columns: 1fr;
  }
}
